<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tek465B_Sys_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OHM_To_MatrixO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Tek465B_Sys_Monitor.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="L1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Made By Tek465B</string>
                        <string>To Arduino LCD 20x02</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="counterSave" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="nbrRepeat" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="rptDelay" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="scrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCnct" serializeAs="String">
                <value>False</value>
            </setting>
        </Tek465B_Sys_Monitor.Properties.Settings>
        <OHM_To_MatrixO.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="L1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Made By Tek465B</string>
                        <string>To Arduino LCD 20x02</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="counterSave" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </OHM_To_MatrixO.Properties.Settings>
    </userSettings>
</configuration>